export CLICKHOUSE_DB="default"
export CLICKHOUSE_TABLENAME="netflow"
export CLICKHOUSE_USERNAME="default"
export CLICKHOUSE_PASSWORD="CrmrM9SWFbSfnVEjogGLto93cTb8Ygvpv6P5"
export CLICKHOUSE_ADDR="10.0.1.105"
export CLICKHOUSE_PORT="9000"
